[Unit]
Description=Easy Reporter
Documentation=https://github.com/xsellier/easy-reporter
After=network.target

[Service]
WorkingDirectory=/home/pi/work/easy-reporter
Environment=NODE_ENV=production
Type=simple
User=pi
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target