:root {
  --title-height: 64px;
  --subtitle-height: 64px;
  --footer-height: 40px;
  --pagination-height: 32px;
  --report-list-toolbar-size: 144px;
}

.blue {
  background-color: #0092e9;
  color: #fefefe;
}

.scroll-button {
  position: fixed;
  right: 64px;
  bottom: 64px;
}
